DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB"

NEXTAUTH_SECRET="clave_super_segura"
NEXTAUTH_URL="https://tudominio.com"

STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_xxx"
